<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


<div class="signupform">
  <%= f.label :login %>
  <%= f.text_field :login %>
</div>
<div class="signupform">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div class="signupform">
  <%= f.label :password, f.object.new_record? ? nil : "Change password" %>
  <%= f.password_field :password %>
</div>
<div class="signupform">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>
<div class="signupform">
	<%= f.label :city_id %>
	<%= f.collection_select(:city_id, City.all, :id, :cityname) %>
</div>
<div class="signupform">
	<%= f.label :sex %>
  <%= f.select( :sex, [["Male", "Male"], ["Female", "Female"]]) %>
</div>
<div class="signupform">
	<%= f.label :birthday %>
	<%= f.date_select( :birthday,:date_separator => "-" , :start_year => 1960 ) %>
</div>
<div class="signupform">
	<%= f.label :profession %>
	<%= f.text_field :profession %>
</div>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
