<%= render 'shared/top' %>
<br/><br/><br/><br/>
<div>
	<b>Name </b>
	<%= @maingroup.name %>
	<%= @maingroup.variety %>
</div>
<% unless @categories.empty? %>
	<ul class="users">
		<%= render @categories %>
	</ul>
<% end %>

Rating categories<br/><br/>
<% if isadmin? %>
	<%= render :partial => "ratingcategories/ratingcategory",
           :collection => @ratingcategories %>
<% end %>