Welcome to Likes Diary
<br/><br/>List of all the users<br/><br/>

<%= form_tag users_path, :method => 'get' do %>  
	<p>  
		<%= text_field_tag :search, params[:search] %>  
		<%= submit_tag "Search", :name => nil %>  
	</p>  
<% end %>  
<%= will_paginate @users %>

<%= render @users %>

<%= will_paginate @users %>
