Show the profile summary of the user as in show page
move it to a partial and show in all


<table summary="Information about following/followers">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>
			<div style="float:right">
			//Abhash move this link to top somewhere
				<% if @flag==0 %>
					<%= link_to "Followers", followers_user_path(@user) %>
				<% else %>
					<%= link_to "Following", following_user_path(@user) %>
				<% end %>
			</div>

      <% unless @users.empty? %>
				<%= will_paginate @users %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
      <% end %>
    </td>
  </tr>
</table>