<div style="padding-top:20px;padding-left:200px;">
	<div style="float:left;">
		<%= image_tag @user.photo.url(:small) %>
	</div>
	<div style="float:left;padding-left:20px;padding-top:20px;">
		<div style="float:left;">
			<span style="color:#247885;font-size:20px;font-weight:bold;"><%= @user.login %></span>
		</div>
		<%= render 'follow_form' if signedin? %>
		<% if correct_user %>	
			<span style="padding-left:8px;"><%= link_to 'edit', edit_user_registration_path %></span>
		<% end %> <br />
		<div style="clear:both;"></div>
		<% if @user.city %>
			<%= @user.city.cityname %> City, India
		<% end %> <br /> <br />
		<div class="rightprofileinfo"><b>Sex:</b> </div>
		<div class="rightprofile"><%= @user.sex %></div><br/>
		<div class="rightprofileinfo"><b>Birthday: </b></div>
		<div class="rightprofile"><%= @user.birthday %></div><br/>
		<div class="rightprofileinfo"><b>Profession:</b></div>
		<div class="rightprofile"><%= @user.profession %></div><br/>
		<div class="rightprofileinfo"><b>About me:</b></div>
		<div class="rightprofile"><%= @user.aboutme %></div>
	</div>
	<div style="float:left;padding-left:30px;">
		<%= link_to "Following	 #{@user.following.count}", following_user_path(@user) %><br/>
		<%= link_to "Followers   #{@user.followers.count}", followers_user_path(@user) %><br />
		<% if @users != nil %>
			<%= link_to "Requests #{@users.count}", requests_user_path(@user) %>
		<% else %>
			<%= link_to "Requests", requests_user_path(@user) %>
		<% end %>
	</div>
	<div style="clear:both;"></div>
</div>
<hr />

<div>
<div id="heading">Latest Updates</div>
<center>
<%= render :partial => 'activities/activity', :collection => @activities %>
</center>
</div>
