<table summary="Information about following/followers">
  <tr>
    <td class="main">
      <div style="float:left; font-size:20px;"><%= @title %></div>
			<div style="float:left;padding-left:10px;font-size:20px;"> | 
				<% if @flag==0 %>
					<%= link_to "Followers", followers_user_path(@user) %>
				<% else %>
					<%= link_to "Following", following_user_path(@user) %>
				<% end %>
			</div>
		<div style="clear:both;"></div>
      <% unless @users.empty? %>
				<%= will_paginate @users %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
      <% end %>
    </td>
  </tr>
</table>
