<% if !current_user %>	
	<div class="loginform">
		<div class="signin">
			Sign in
		</div>
<!--		<div>
		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
		</div> -->
		<%= form_for("user", :as => 'user', :url => user_session_path) do |f| %>
			<div class ="partform">
				<div><%= f.label :email %></div>
				<div><%= f.text_field :email, :tabindex => '1' %></div>
				<div style="margin:0px;">
					<%= f.label :remember_me, :id => 'remlabel' %>
					<%= f.check_box :remember_me, :tab_index => '3' %>
				</div>
			</div>
			<div class="partform">
				<div><%= f.label :password %></div>
				<div><%= f.password_field :password, :tabindex => '2' %></div>
				<div><%= link_to "Forgot your password?", new_password_path('user') %></div>
			</div>
			<div class="partform">
				<%= f.submit 'Sign in' , :tabindex => '4' %>
			</div>
		<% end %>		
	</div>
	<div style="clear:both;">
	<hr />
	</div>
<% else %>
	<%= link_to "Account", users_path %>
	<%= link_to "Logout", logout_path %>
<% end %>

<div class="loginform">
	<div class="signin">
		Sign Up
	</div>
	<div id="signupform">
		<%= form_for @user, :url => users_path, :html => {:multipart => true} do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>
			<%= render :partial => 'users/form', :object => f %>
			<%= f.submit "Sign Up" %>
		<% end %>
	</div>
</div>
