<br/><br/><br/>
<h1>Editing subgroup </h1>

<%= form_for @subgroup do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit "Update sub group!!!" %>
<% end %>

<%= link_to 'Show', @subgroup %> |
<%= link_to 'Back', subgroups_path %>