<div>
  <%= form.label :merchantname %>
  <%= form.text_field :merchantname %>
</div>
<div>
	<%= form.label :tribecomment %>
	<%= form.text_area :tribecomment %>
</div>
<div>
	<%= form.label :merchantinfo %>
	<%= form.text_area :merchantinfo %>
</div>
<div>
	<%= form.label :meraddress %>
	<%= form.text_area :meraddress %>
</div>
<div>
	<%= form.label :merchantphone %>
	<%= form.text_area :merchantphone %>
</div>
<div>
	<%= form.label :merspectext %>
	<%= form.text_field :merspectext %>
</div>