<div>
	<%= form.label :photo %>
	<%= form.file_field :photo %>
</div>
<div>
  <%= form.label :merchantname %>
  <%= form.text_field :merchantname %>
</div>
<div>
	<%= form.label :tribecomment %>
	<%= form.text_area :tribecomment %>
</div>
<div>
	<%= form.label :merchantinfo %>
	<%= form.text_area :merchantinfo %>
</div>
<div>
	<%= form.label :meraddress %>
	<%= form.text_area :meraddress %>
</div>
<div>
	<%= form.label :merchantphone %>
	<%= form.text_area :merchantphone %>
</div>
<div>
	<%= form.label :merspectext %>
	<%= form.text_field :merspectext %>
</div>
<div>
	<%= form.label :deal1 %>
	<%= form.file_field :deal1 %>
</div>

<div>
	<%= form.label :deal2 %>
	<%= form.file_field :deal2 %>
</div>

<div>
	<%= form.label :speciality1 %>
	<%= form.file_field :speciality1 %>
</div>

<div>
	<%= form.label :speciality2 %>
	<%= form.file_field :speciality2 %>
</div>
