<br/><br/><br/>
<% if isadmin? %>	
	<%= link_to 'Edit', edit_deal_path %>
<% end %>

<%= image_tag @deal.photo.url(:small) %>
<b>Name : </b>
<%= @deal.name %><br/><br/>
<b>City</b>
<%= @deal.city.cityname %><br/><br/>
<b>Original Price </b>
<%= @deal.originalprice %><br/><br/>
<b>Discount</b>
<%= @deal.discount %><br/><br/>
<b>Maxattenders</b>
<%= @deal.maxattenders %><br/><br/>
<b>Info1</b>
<%= @deal.info1 %><br/><br/>
<b>Info2</b>
<%= @deal.info2 %><br/><br/>
<b>Terms</b>
<%= @deal.terms %><br/><br/>
<b>About deal</b>
<%= @deal.aboutdeal %><br/><br/>
<b>Addres</b>
<%= @deal.address %><br/><br/>

<%= @deal.startat %><br/><br/>
<%= @deal.endat %><br/><br/>


//add likes here
<%= render 'like_form' if signedin? %>

<br/>

This page has been liked by - <br/>
<%= render @likers %>



//add comments here
<br/>

<% if signedin? %>

	<h2>Comments</h2>
	Count is:
	<%= @deal.dealcomments.count %><br/>
	//need to paginate comments later
	<br/><br/>
	<%= render :partial => "dealcomments/dealcomment",
           :collection => @comments %>

<% end %>

<br/><br/>

<%= render 'deals/commentsform' if signedin? %>