<%= image_tag product.photo.url(:thumb) %><br/>
<%= link_to product.productname , product%><br/>
<!-- need to put up the like form here
-->

<% if signedin? %>
	<div>
		<% if product.productliked?(current_user) %>
			<%= form_for product.product_likes.find_by_user_id(current_user.id),:html => { :method => :delete } do |f| %>
				<div class="actions"><%= f.submit "Unlike" %></div>
			<% end %>
		<% else %>
			<% product_id = product.id %>
			<%= form_for product.product_likes.build(:user_id => current_user.id) do |f| %>
				<div><%= f.hidden_field :product_id %></div>
				<div class="actions"><%= f.submit "Like" %></div>
			<% end %>
		<% end %>
	</div>
<% end %>

<% if product.subgroups.count !=0 %>
	<% @subs = product.subgroups %>
	<% for @sub in @subs %>
		<%= @sub.category.categoryname %>
		<%= link_to @sub.subgroupname, @sub %><br/>
	<% end %>
<% end %>
<%= product.users.count %> likes
<br/>
<% if isadmin? %>
<%= link_to "Edit", edit_product_path(product) %>
<%= link_to 'Show', product %>
<%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
<br/>