Welcome to Likes Diary
<br/><br/>List of all the products<br/><br/>
<%= render 'products/searchform' %>

	<%= will_paginate @products%>
<div id="products">
	<%= render @products %>
</div>
	<%= will_paginate @products%>
<br/><br/>
<% if isadmin? %>
<%= link_to "New product", new_product_path %>
<% end %>