<% if isadmin? %>	
	<%= link_to 'Edit', edit_product_path %>
<% end %>
<div style="padding:20px;float:left;">
	<%= image_tag @product.photo.url(:small) %>
</div>
<div style="padding:20px;">
	<div style="font-size:20px;font-weight:bold;color:#247885"><%= @product.productname %></div>
	<div style="padding-top:10px;"><%= @product.details %></div>
</div>
<br/>
<!--
Testing multiple ratings
<br/>
<% @aratings = current_user.ratings.find_all_by_product_id(params[:id]) %>
<%= @aratings.length %><br/>
<% for @arating in @aratings %>
	<%= @arating.ratingcategory_id %>
<br/>
<% end %>
End of multiple ratings
<br/><br/>
-->

<% if @product.subgroups.count!=0 %>
	<% @ratingnames = @product.subgroups[0].category.maingroup.ratingcategories %>
	<!--The number of rating categories are <%= @ratingnames.count %> -->
	<br/><br/>
	<!--Multiple<br/>-->
	
	<% @acurrentratings = current_user_ratings %>
	<%= @acurrentratings %><br/>	
	<br/>
	
	<br/><br/>
	<%= render :partial => '/ratingcategories/ratingcategory', 
			:collection => @ratingnames %>
	<br/><br/>
	Rating

	<%= render 'products/rating' %>

	<%= render 'ratingform' %>
<% end %>
<br/>

//add likes here
<%= render 'like_form' if signedin? %>

<br/>

This page has been liked by - <br/>
<%= render @likers %>


//add comments here
<br/>

<% if signedin? %>

	<h2>Comments</h2>
	Count is:
	<%= @product.productcomments.count %><br/>
	//need to paginate comments later
	<br/><br/>
	<%= render :partial => "productcomments/productcomment",
           :collection => @comments %>

<% end %>

<br/><br/>

<%= render 'products/commentsform' if signedin? %>


//add reviews here
<br/>

<% if signedin? %>

	<h2>Reviews</h2>
	Count is:
	<%= @product.reviews.count %><br/>
	//need to paginate reviews later
	<br/><br/>
	<%= render :partial => "reviews/review",
           :collection => @reviews %>

<% end %>

<br/><br/>

<%= render 'products/reviewsform' if signedin? %>

<br/><br/>
<% if isadmin? %>
<%= render @subgroups %>
<% end %>

<% if isadmin? %>
<%= render 'addsubgroup_form' %>
<% end %>
