<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title><%= title %></title>
	<%= render 'layouts/stylesheets' %>
	<style type="text/css">
		form.rating_ballot input#rating_submit { display: none; }
		form.rating_ballot input.rating_button { display: none; }
		form.rating_ballot label.rating { cursor: pointer; display: block; height: 20px; width: 20px; float: left; }
		form.rating_ballot label.rating span { display: none; }
		form.rating_ballot label.rating { background-image: url(../images/star-dim.png); }
		form.rating_ballot label.rating.bright { background-image: url(../images/star-bright.png); }
		form.rating_ballot label.rating.glow { background-image: url(../images/star-glow.png); 
	</style>
</head>
<body>
<%= render 'layouts/header1' %>
<div id="wrap">
<div id="leftsidebar">
<div id="leftheader"></div>
<div id="leftcontent">
   <div id="userbox">
	<div id="userinfo"> 
         
	<%= render 'layouts/userinfo' %>
	</div>
<%= render 'layouts/header2' %>
<div id="leftfooter">
<div class="rounded" id="leftfootertabs">
<a href="/pages/home/">
	<table width="232" height="44"><tr><td>
		<img src="/images/newsfeed.png" height="30" align="right"></td>
		<td align="middle">News Feed</td>
		</tr></table>
</a>
</div>
<div class="rounded" id="leftfootertabs">
	<a href="/maingroups/">
	<table width="232" height="44"><tr><td>
		<img src="/images/database.png" height="30" align="right"></td>
                                               <td width="15"> </td>
		<td align="middle">Database</td><td width="30"> </td>
	</tr></table>
	</a>
</div>
<div class="rounded" id="leftfootertabs">
	<a href="/pages/likestat/">
	<table width="232" height="44"><tr><td>
		<img src="/images/Likestats.png" height="30" align="right"></td><td width="20"> </td>
		<td align="middle">Like Stats</td><td width="30"> </td>
	</tr></table>
	</a>
</div>
</div>
			</div>
		</div>
	</div>

<div id="container">
<%= render 'layouts/headertabs' %>
</div>
<div id="wrap2"><%= yield %></div>
</div>
</body>
</html>