<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= title %></title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/profile.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/header1.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/custom.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/popup.css">
        <%= render 'layouts/stylesheets' %>
	</head>
	<body>
		<%= render 'layouts/header1' %>
		<div id="wrap">
			<div id="leftsidebar">
				<div id="leftcontent">
			   		<div id="userbox">
						<div id="userinfo">
							<%= render 'layouts/userinfo' %>
						</div>
						<%= render 'layouts/header2' %>
						<div id="leftfooter">
							<div class="rounded" id="leftfootertabs" style="overflow:auto;">
								<a href="<%= user_path(current_user) %>">
									<div style="float:left;">
										<img src="/images/info.png" height="30" style="float:left;padding-left:32px;padding-top:8px;width:auto;" />
									</div>
									<div style="text-align:center;float:left;padding-top:13px;padding-left:42px;">Info</div>
								</a>
							</div>
							<div class="rounded" id="leftfootertabs">
		<!-- <a href=" products_user_path(@user) "> -->
								<a href="/users">
									<div style="float:left;">
										<img src="/images/likes.png" height="30" style="float:left;padding-left:29px;padding-top:8px;width:auto;" />
									</div>
									<div style="text-align:center;float:left;padding-top:13px;padding-left:36px;">Users</div>
								</a>
							</div>
							<div class="rounded" id="leftfootertabs">
								<!-- <a href="deals_user_path(@user) "> -->
								<a href="/maingroups">
									<div style="float:left;">
										<img src="/images/database.png" height="30" style="float:left;padding-left:29px;padding-top:8px;width:auto;" />
									</div>
									<div style="text-align:center;float:left;padding-top:13px;padding-left:30px;">Database</div>
								</a>
							</div>
							<div class="rounded" id="leftfootertabs">
                                <!-- <a href="deals_user_path(@user) "> -->
                                <a href="/products/new">
                                    <div style="float:left;">
                                        <img src="/images/database.png" height="30" style="float:left;padding-left:29px;padding-top:8px;width:auto;" />
                                    </div>
                                    <div style="text-align:center;float:left;padding-top:13px;padding-left:30px;">Add Product</div>
                                </a>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<div id="container">
				<%= render 'layouts/headertabs' %>
			</div>
			<div id="wrap2"><%= yield %></div>
		</div>
	</body>
</html>
