<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title><%= title %></title>
	<%= render 'layouts/stylesheets' %>
</head>
<body>
<%= render 'layouts/header1' %>
<div id="wrap">
<div id="leftsidebar">
<div id="leftheader"></div>
<div id="leftcontent">
   <div id="userbox">
	<div id="userinfo">
		<%= render 'layouts/userinfo' %>
	</div>
		<%= render 'layouts/header2' %>
<div id="leftfooter">
<div class="rounded" id="leftfootertabs">
<a href="<%= user_path(current_user) %>">
	<table width="232" 
Email

Password
height="44"><tr><td>
		<img src="/images/info.png" height="30" align="right"></td><td width="20"> </td>
		<td align="middle">Info</td><td width=80"> </td>
		</tr></table>
</a>
</div>
<div class="rounded" id="leftfootertabs">
	<!-- <a href=" products_user_path(@user) "> -->
	<a href="#">
	<table width="232" height="44"><tr><td>
		<img src="/images/likes.png" height="30" align="right"></td>
                                        <td width="20"> </td>  
		<td align="middle">Likes</td><td width="80"> </td>
	</tr></table>
	</a>
</div>
<div class="rounded" id="leftfootertabs">
	<!-- <a href="deals_user_path(@user) "> -->
	<a href="#">
	<table width="232" height="44"><tr><td>
		<img src="/images/cheaps.png" height="30" align="right"></td>
		<td align="middle">Cheaps Archive</td>
	</tr></table>
	</a>
</div>
</div>
			</div>
		</div>
	</div>

<div id="container">
<%= render 'layouts/headertabs' %>
</div>
<div id="wrap2"><%= yield %></div>
</div>
</body>
</html>